{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Colmar Academy</title> 
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/style.css' %}">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="particles-js"> 
        <h1>Yoooooooooooooooooooooooo</h1>
        <p>Now we might be able to get away with putting our static files directly in my_app/static/ 
            (rather than creating another my_app subdirectory), but it would actually be a bad idea. Django will use the first static file it finds whose name matches, and if you had a static file with the same name in a different application, Django would be unable to distinguish between them. We need to be able to point Django at the right one, and the best way to ensure this is by namespacing them. 
            That is, by putting those static files inside another directory named for the application itself.</p>
        </div>
        <script type="text/javascript" src="{% static 'webapp/js/particles.js' %}"></script>
        <script type="text/javascript" src="{% static 'webapp/js/app.js' %}"></script>
        
    
</body>
</html>