{% load static %}

<!DOCTYPE html>

<html>

<head>
    <title>OVRAX</title> 
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/capstoneproject.css' %}">   
    <link rel="icon" href="{% static 'webapp/capstone/fav.png' %}" type="image/x-icon">
    <meta id="viewport" name="viewport" content ="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<body>

    <!-- Header -->
    <div id="particles-js">
        <div class="lol"><h1>Developing advanced websites for your business</h1></div>

    <header>
        <!-- <div class="logo"><img src="{% static 'webapp/capstone/logo.png' %}" alt="best school" />  -->
        <h2><a  class='logo_text' href='.'>OVRAX</a></h2>

        
        <nav>
           <ul role="presentation">
               <li class="blue"><a href="#">about us</a></li>
               <li class="blue"><a href="#">contact</a></li>
       </nav>
    </div>
       <script type="text/javascript" src="{% static 'webapp/js/particles.js' %}"></script>
       <script type="text/javascript" src="{% static 'webapp/js/app.js' %}"></script>

       <nav class="alt-nav" role="presentation">
           <ul>
               <!-- <li><a href="#"><img src="{% static 'webapp/capstone/ic-logo.svg' %}" /></a></li>
               <li><a href="#"><img src="{% static 'webapp/capstone/ic-on-campus.svg' %}" /></a></li> -->
               <li><a href="#"><img src="{% static 'webapp/capstone/ic-online.svg' %}" /></a></li>
               <li><a href="#"><img src="{% static 'webapp/capstone/ic-login.svg' %}" /></a></li>
               
           </ul>
        </nav>

    </header>

    <!-- Banner Section -->

    <div class="banner">
        <div class="learn">
            <img src="{% static 'webapp/capstone/banner.png' %}" />
            <div class="banner-text" role="presentation">
                <h1>Website development</h1>
                <p>We do know what your clients want</p>
                <button>Start here</button>
            </div>
        </div>
    </div>

    <!-- Main -->

    <div class="main">
        <div class="sub-main">
        <div class="main-container">
            <img src="{% static 'webapp/capstone/information-main.jpg' %}" alt="best college" />
            <div class="main-container-text" role="presentation">
                <h3>It doesn't hurt to keep practicing</h3>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
                    nulla pariatur."</p>
                <p id="author">Emanuel, Sr Strategist at Hiring.com</p>  
            </div>
        </div>
    

        <!-- <div class="border"> -->
        <div class="main-container-right">
          <div class="main-sub-container">
              <img class="img-desktop" src="{% static 'webapp/capstone/information-orientation.jpg' %}" alt="best-school" />
              <img class="img-mobile" src="{% static 'webapp/capstone/information-orientation-mobile.jpg' %}" alt="Orientation-date" />
              <div class="main-text">
                  <h3>Orientation date</h3>
                  <p>Tue 10/11 & Wed 10/12: 8am-3pm</p>
                  <a href="#">Read more</a>
              </div>
          </div> 

            <div class="main-sub-container">
                <img class="img-desktop" src="{% static 'webapp/capstone/information-campus.jpg' %}" alt="best-school" />
                <img class="img-mobile" src="{% static 'webapp/capstone/information-campus-mobile.jpg' %}" alt="Orientation-date" />
                <div class="main-text">
                    <h3>Our campus</h3>
                    <p>Find which campus is close by you</p>
                    <a href="#">Read more</a>
                </div>
            </div>
                        
            <div class="main-sub-container" id="guest">
                    <img class="img-desktop" src="{% static 'webapp/capstone/information-guest-lecture.jpg' %}" alt="guest-lecture" />
                    <img class="img-mobile" src="{% static 'webapp/capstone/information-guest-lecture-mobile.jpg' %}" alt="Orientation-date" />
                    <div class="main-text">
                        <h3>Our guest lecture</h3>
                        <p>Join a keynote with Oliver Sack about music in medical treatment</p>
                        <a href="#">Read more</a>
                    </div>
            </div> 
        </div>
        <!-- </div> -->
    </div>
    </div>

<!-- Courses -->

<div class="courses-container">
    <h2>Start learning</h2>
    <div class="courses">
        <div class="course-container">
            <img src="{% static 'webapp/capstone/course-software.jpg' %}" alt="best software engineering university" />
            <div class="course-container-text"><h3>Software engineering</h3>
            <p class="courses-p">COURSES</p>
            <P>Web Development, Mobile development, iOT, APIs</P></div>
        </div>

        <div class="course-container">
            <img src="{% static 'webapp/capstone/course-computer-art.jpg' %}" alt="best software engineering university" />
            <div class="course-container-text"><h3>Computer art</h3>
            <p class="courses-p">COURSES</p>
            <P>Imaging & Design, Web Design, Motion Graphics & Visual Effects, Computer Animation</P></div>
        </div>

        <div class="course-container">
            <img src="{% static 'webapp/capstone/course-design.jpg' %}" alt="best software engineering university" />
            <div class="course-container-text"><h3>Design</h3>
            <p class="courses-p">COURSES</p>
            <P>User Experience Design, User Research, Visual Design</P></div>
        </div>

        <div class="course-container">
            <img src="{% static 'webapp/capstone/course-data.jpg' %}" alt="best software engineering university" />
            <div class="course-container-text"><h3>Data</h3>
            <p class="courses-p">COURSES</p>
            <P>Data Science, Big Data, SQL, Data, Visualization</P></div>
        </div>

        <div class="course-container">
            <img src="{% static 'webapp/capstone/course-business.jpg' %}" alt="best software engineering university" />
            <div class="course-container-text"><h3>Business</h3>
            <p class="courses-p">COURSES</p>
            <P>Product Development, Business Development, Startup</P></div>
        </div>

        <div class="course-container">
            <img src="{% static 'webapp/capstone/course-marketing.jpg' %}" alt="best software engineering university" />
            <div class="course-container-text"><h3>Marketing</h3>
            <p class="courses-p">COURSES</p>
            <P>Analytics, Content Marketing, Mobile Marketing</P></div>
        </div>
    </div>
</div>

<div class="courses-mobile">
    <a href="#"><h3>Software engineering</h3></a>
    <a href="#"><h3>Computer art</h3></a>
    <a href="#"><h3>Design</h3></a>
    <a href="#"><h3>Data</h3></a>
    <a href="#"><h3>Business</h3></a>
    <a href="#"><h3>Marketing</h3></a>
</div>

<!-- Thesis part -->

<div class="thesis-container">
    <h2 id="title">Thesis exhibit</h2>
    <div class="thesis-elements">
        <video src="{% static 'webapp/capstone/thesis.mp4' %}" controls>Video not supported</video>
        <div class="thesis-right-containers">
            <div class="thesis-right-container" id="first">
                <img src="{% static 'webapp/capstone/thesis-fisma.jpg' %}" alt="best-university">
                <div class="text-thesis"><h3>Fisma: Design and Prototype</h3>
                     <p>Designer showcase of new prototype product</p>
                    </div>
            </div>
            <div class="thesis-right-container">
                <img src="{% static 'webapp/capstone/thesis-now-and-then.jpg' %}" alt="best-university">
                <div class="text-thesis"><h3>Now and then</h3>
                <p>Research study about New York</p>
                </div>
            </div>
        </div>
    </div>
    <div class="reimagine">
        <h3>Reimagine urban</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
            galley of type and scrambled it to make a type specimen book. It is a long established fact that a reader will
             be distracted by the readable content of a page when looking at its layout.</p>
    </div>
</div>

<footer>
    <div class="container-footer">
        <p>&#169; 2020 OVRAX. All rights reserved.</p>
        <p class="footer-p"><a href="#">Contact</a></p>

    </div>
</footer>
    </div>
</body>


</html>