{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Colmar Academy</title> 
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/style.css' %}">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="particles-js"> </div>
        <script type="text/javascript" src="{% static 'webapp/js/particles.js' %}"></script>
        <script type="text/javascript" src="{% static 'webapp/js/app.js' %}"></script>
    
</body>
</html>